.advantages {

  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
   

    &__list {
   
      @media screen and (min-width: 768px) {
        display: flex;
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
      }

      @media screen and (min-width: 1200px) {
        justify-content: space-between;
        margin-left: 0;
        margin-top: 0;
      }
   
  }

    &__icon-wrapper {
      max-width: 450px;
      height: 120px;
      background-color: getColor('second-bg-color');
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 768px) {
       width: 354px;
      }
      @media screen and (min-width: 1200px) {
       width: 270px;
      }
      
    }
  }
  
  .advantages__item {

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
      margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 3 * 30px) / 4);  
    }
    
    &:not(:first-child) {
      @media screen and (min-width: 1200px) {
        margin-left: 30px; 
      }
    }

    &-content {
      margin-top: 10px;
    }

    
    &-title {
      font-weight: 700;
      line-height: 1.14;
      text-transform: uppercase;
      font-size: 14px;
      margin-top: 30px;
      text-align: center;

      @media screen and (min-width: 768px) {
        text-align: left;
      } 
    }
  }
  
  .advantages__item:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }

  }
  