.competence {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.competence__list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .competence__item {
    position: relative;

    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: getColor('secondary-text-color');
    }
  }
  
  .competence__box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    z-index: 2;
  }
  
  
  