.hero {
    padding-top: 0;
    padding-bottom: 0;
    background-color: getColor('dark-bg-color');
    text-align: center;
    
    &__title {
      color: getColor('secondary-text-color');
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      letter-spacing: 0.06em;
      text-transform: uppercase; 

      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
      }
    }
  }
  
  .hero__overlay {
    min-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-image/hero-image-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  @media (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero__overlay {
    background-image: url("../images/hero-image/hero-image-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: url("../images/hero-image/hero-image-tablet.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__overlay {
    background-image: url("../images/hero-image/hero-image-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../images/hero-image/hero-image-desktop.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__overlay {
    background-image: url("../images/hero-image/hero-image-desktop@2x.jpg");
  }
}